body {
  margin: 0;
  box-sizing: border-box;
  font-family: monospace;
}

h1 {
  margin-top: 5rem;
  text-align: center;
}

.container {
  background-color: darkseagreen;
  padding: 1rem;
  margin: 2rem auto;
  border: 0.1rem solid black;
  border-radius: 0.5rem;
  width: 21.5rem;
}

.display {
  background-color: cornsilk;
  display: block;
  font-size: 4rem;
  font-weight: 900;
  text-align: end;
  padding: 0.2rem 0.5rem;
  border-radius: 0.5rem;
  color: darkblue;
  overflow: hidden;
  border: 0.1rem solid black;
  margin-bottom: 1rem;
}

.top-display {
  font-size: 1rem;
  height: 1rem;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

button {
  width: 5rem;
  height: 5rem;
  font-size: 2rem;
  font-weight: 900;
  border: 0.1rem solid black;
  border-radius: 0.5rem;
  background-color:floralwhite;
}

button:hover {
  opacity: 0.9;
}

.button-2x {
  width: 10.5rem;
}

.num {
  background-color: white;
}

a {
  display: block;
  text-align: center;
  color: black;
  text-decoration: none;
}

a:hover {
  color:darkgray;
}